.container { 
    display: grid; 
    grid-template-columns: repeat(3,400px);
    

}

body{
    background: #c94b4b;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4b134f, #c94b4b);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4b134f, #c94b4b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

footer { 
    height: 100px; 
}

.gallery img {
    width: 400px !important;
    height: 280px !important;
}
.desc {
    font-family: 'Fascinate Inline', cursive;
    color: red;
    padding: 15px;
    text-align: center;
}
.gallery {
    margin: 5px;
    float: left;
    width: 400px;
}
  .title {
    font-family: 'Fascinate Inline', cursive;
    color: red;
    text-align: center; 
    font-size: 50px; 
  }
